body {
    padding: 0px;
    margin: 0px;
    background-color: hsl(229, 31%, 86%);
}

/* nav section */

.header1 {
    background-image: url(/Assets/Hero-bg.png);
    width: cover;
    height: 664px;
    background-size: cover;
}

.nav1 {
    display: flex;
    justify-content: space-between;
}

.nav-button1,
a {
    list-style: none;
    text-decoration: none;
}

.nav-heading1 {
    margin-left: 80px;
    font-size: 30px;
    font-weight: bolder;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.nav-button1 {
    margin-right: 80px;
    margin-top: 30px;
    gap: auto;
}

.headingcolor {
    color: tomato;
}

.nav-button2 {
    background-color: hsl(240, 100%, 50%);
    color: white;
    font-size: 20px;
    border: none;
    border-radius: 12px;
    padding: 12px 20px;
}

/* banner section */

.banner1 {
    text-align: center;
    margin-top: 158px;
}

.banner-heading1 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 62px;
}

/* main section */

.section1 {
    margin: 80px 250px;
    display: flex;
    justify-content: space-between;
}

.section-heading1 {
    font-size: 42px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 70px;
}

.section-pas1 {
    font-family: Arial, Helvetica, sans-serif;
}

.section-button1:hover {
    background-color: red;
    /* transform: 1s; */
}

.nav-button2:hover{
    background-color: hsl(0, 100%, 50%);
}

.section-button1{
    background-color: rgb(85, 85, 239);
    color: white;
    font-size: 20px;
    border: none;
    border-radius: 12px;
    padding: 10px 40px;
}

.section-button {
    list-style: none;
    padding-right: 145px;
    display: inline;
}

.section-img img{
    border-radius: 46px;
}


.sec-heading2{
    text-align: center;
}

.div-3{
    display: flex;
    justify-content: center;
    gap: 90px;
    text-align: center;
}

.section2{
    background-color: rgb(183, 199, 242);
    margin: 0 200px;
    padding: 50px 250px;
    margin-bottom: 50px;
    border-radius: 30px;
    height: 300px;
}

.sec-heading2{
    font-size: 38px;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    margin-bottom: 0px;
}
.div-3{
    display: flex;
    justify-content: center;
    gap: 90px;
    text-align: center;
}

.section2{
    background-color: rgb(183, 199, 242);
    margin: 0 200px;
    padding: 50px 250px;
    margin-bottom: 50px;
    border-radius: 30px;
    height: 300px;
}

.sec-heading2{
    font-size: 38px;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    margin-bottom: 0px;
}

.div-3 .haa{
    font-size: 70px;
    font-weight: bold;
    color: blue;
    margin-bottom: 0px;
}

.div-3 .p222{
    font-size: 20px;
    color: rgb(72, 77, 82);
}

.section-head3{
    text-align: center;
}

.section-all{
    width: 300px;
    background-color: rgb(255, 255, 255);
    padding: 50px;
    border-radius: 20px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 50px;
    box-shadow: 0px 1px 1px 1px   rgb(237, 231, 231);
}

.reviewer{
    display: flex;
    gap: 20px;
}

.img3{
    width: 60px;
    border-radius: 200px;
}

.section3{
    display: flex;
    justify-content: center;
}

.section-head3{
    font-size: 49px;
    margin-top: 150px;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* Section 3 */

.section-3{
    background-color: white;
    text-align: center;
    margin: 100px 200px;
    padding: 50px 250px;
    margin-bottom: 50px;
    height: 550px;
    
}

.sec3-heading{
    font-size: 40px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.sec3-template{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.sec3-button{
    background-color: blue;
    color: white;
    font-size: 20px;
    border: none;
    border-radius: 12px;
    padding: 10px 40px;
}

.section3-bb{
    list-style: none;
}

.section3-img{
    border-radius: 32px;
    
}

.sec3-button:hover{
    background-color: red;
}
.section3-img{
    width: 840px;
    height: 365px;
    align-items: center;
    
   


   
}



/* Section 4 */

.sec4-all{
    padding: 130px 230px;
    display: flex;
    gap: 150px;
    justify-content: space-between;
    margin-right: 40px;
}

.sec4-in-lab{
    width: 50%;
}

.sec4-all input[type="text"], sec4-all textarea{
    height: 64px;
    border-radius: 5px;
    background-color: white;
    width: 100%;
    padding: 10px 20px;
    margin-bottom: 24px;
    border: none;
}

.sec4-all textarea{
    padding: 0px 80px;
    display: block;
    border: none;
    width: 100%;
    padding: 10px 20px;
    margin-bottom: 24px;
    m
}

.btn-primary{
    background-color: blue;
    color: white;
    font-size: 20px;
    border: none;
    border-radius: 12px;
    padding: 0px 80px;
    display: block;
    border: none;
    width: 497px;
    height: 62px;
    padding: 10px 20px;
    margin-bottom: 24px;
    /* margin-right: 25px; */
}

.btn-primary:hover{
    background-color: red;
}

.sec4-heading{
    /* width: 520px;
    height: 227px; */
    font-size: 70px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-left: 80px;
   
}
/* 
.sec4-all{
    width: 1140px;
    height: 632px;
{ */

.section4-in-lab label{
    width: 497px;
    height: 70px;
    font-size: 25px;
    padding-bottom: 50px;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

/* footer section */

.footer-link{
    display: flex;
    justify-content: center;
}

.footer1{
    text-align: center;
    background-color: white;
    width: 100%;
    height: 400px;
    padding: 50px;
}


.footer-link{
    gap: 50px;
    font-size: 20px;
    list-style: none;
}

.footer-link a{
    color: rgb(118, 101, 101);
}

.ft-span{
    color: tomato;
}

.footer-link a:hover{
    color: rgb(247, 17, 205);
}
.lg{
    color: blue;
}
